.profilePicture {
	width: 70px;
	border-radius: 100%;
	margin: 10px;
}

.chatMessageUser {
	display: flex;
	justify-content: right;
	align-items: start;
}

.chatMessageBot {
	display: flex;
	justify-content: left;
	align-items: start;
}

.chatMessage {
	border-radius: 10px;
	color: var(--theme-text-color);
	font-family: Arial, Helvetica, sans-serif;
	margin: 5px;
	background-color: var(--theme-color-4);
	min-width: 15vw;
	max-width: 40vw;
	min-height: 3rem;
	padding: 0.75rem 0.75rem 0.5rem 0.5rem;
}

.chatMessageUserShadow {
	box-shadow: 1px 1px 4px var(--theme-sub-text-color);
}

.chatMessageBotShadow {
	box-shadow: -1px 1px 4px var(--theme-sub-text-color);
}

.timestamp {
	color: var(--theme-sub-text-color);
	font-family: monospace;
	font-size: 1.2rem;
}

.message {
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--theme-text-color);
	margin-bottom: 0.2rem;
}

.monospace {
	font-family: monospace;
}
