.appContainer {
	max-width: 80vw;
	height: 72vh;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	margin: 10px;
}

/* -- fade overlay chat --

.fadeOverlay {
	position: relative;
	overflow: hidden;
}

.fadeOverlay::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: linear-gradient(to bottom,
			rgba(255, 255, 255, 1),
			rgba(255, 255, 255, 0));
	pointer-events: none;
}*/
