/*
 components/home/chat/chat.module.css
 modular css for chat.jsx
*/

/*container with width 80vw
*grows automaticaly 
* */
.appContainer {
	max-width: 80vw;
	height: 72vh;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	margin: 10px;
}
