/*
 ../../../components/home/chat/chatInput.module.css
 modular css for chatInput.jsx
*/
.messageInput {
	background-color: var(--theme-color-2);
	border: 3px solid var(--theme-color-5);
	border-radius: 10px;
	color: var(--theme-text-color);
	flex-grow: 1;
	font-size: 2rem;
	padding: 0.5rem;
	transition: box-shadow 1s;
}

.messageInput::placeholder {
	color: var(--theme-sub-text-color);
}

.messageInput:focus {
	box-shadow: 0px 0px 30px 10px var(--theme-color-2);
}

.messageInputContainer {
	margin-top: 10px;
	align-items: center;
	display: flex;
}

.sendButton {
	background-color: var(--theme-color-5);
	padding: 0.5rem 1rem;
	border-radius: 10px;
	margin-left: 0.15rem;
	border: 1px solid black;
	font-size: 2rem;
	cursor: pointer;
	color: var(--theme-text-color);
}

.sendButton:hover {
	background-color: var(--theme-color-2);
}

.spamProtection {
	cursor: not-allowed;
}

/* responsive design*/
@media (max-width: 768px) {
	.messageInput {
		font-size: 1.5rem;
		padding: 0.7rem;
		border-width: 2px;
	}

	.sendButton {
		font-size: 1.5rem;
		padding: 0.7rem 1rem;
	}

	.messageInputContainer {
		margin-top: 5px;
		gap: 0.3rem;
	}
}

@media (max-width: 480px) {
	.messageInput {
		font-size: 1.2rem;
		padding: 0.5rem;
	}

	.sendButton {
		font-size: 1.2rem;
		padding: 0.5rem 0.75rem;
	}
}
