.sendButton {
	background-color: var(--theme-color-4);
	padding: 0.5rem 1rem;
	border-radius: 10px;
	margin-left: 0.15rem;
	border: 1px solid black;
	font-size: 2rem;
	cursor: pointer;
}

.sendButton:hover {
	background-color: var(--theme-color-5);
}

.messageInput {
	background-color: var(--theme-color-2);
	border: 3px solid var(--theme-color-5);
	border-radius: 10px;
	color: var(--theme-text-color);
	margin-top: 10px;
	flex-grow: 1;
	font-size: 2rem;
	padding: 0.5rem;
}

.messageInputContainer {
	display: flex;
}

.spamProtection {
	cursor: not-allowed;
}
