/*
* ../../../components/home/chat/chatMessages.module.css
* modular css for chatMessages.jsx
 */
.chatMessagesContainer {
	flex-grow: 1;
	overflow: scroll;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
}

.pushContainer {
	flex-grow: 1;
}

/* responsive */
@media (max-width: 768px) {
	.chatMessagesContainer {
		scrollbar-width: none;
	}
}

@media (max-width: 480px) {
	.pushContainer {
		min-height: 30px;
	}
}
