/*
* ../../../components/home/chat/chatMessages.module.css
* modular css for chatMessages.jsx
 */
.chatMessagesContainer {
	flex-grow: 1;
	overflow: scroll;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
}

.pushContainer {
	flex-grow: 1;
}
