/*
 components/home/chat/chat.module.css
 modular css for chat.jsx
*/

/*container with width 80vw
*grows automaticaly 
* */

.appContainer {
	max-width: 80vw;
	height: 72vh;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	margin: 10px;
}

/* responsive */
@media (max-width: 768px) {
	.appContainer {
		height: 80vh;
		max-width: 100vw;
		margin: 5px;
	}
}

@media (max-width: 480px) {
	.appContainer {
		height: 75vh;
		margin: 2px;
	}
}
