.profilePicture {
	width: 70px;
	border-radius: 100%;
	margin: 10px;
}

.chatMessageUser {
	display: flex;
	justify-content: right;
	align-items: start;
}

.chatMessageBot {
	display: flex;
	justify-content: left;
	align-items: start;
}

.chatMessage {
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 5px;
	background-color: lightgrey;
	min-width: 15vw;
	max-width: 40vw;
	min-height: 3rem;
	padding: 0.75rem 0.75rem 0.5rem 0.5rem;
}

.timestamp {
	color: grey;
	font-family: monospace;
	font-size: 1.2rem;
}

.message {
	font-size: 1.3rem;
	margin-top: 0;
	margin-bottom: 0.2rem;
}

.monospace {
	font-family: monospace;
}
