/*
components/home/logo/logo.module.css
modular css for logo.jsx
*/
.logo {
	font-family: monospace;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.1;
	color: var(--theme-color-7);
	margin: 0;
	padding: 0;
	white-space: pre;
	height: 18vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* responsive */
@media (max-width: 768px) {
	.logo {
		font-size: 0.9rem;
	}
}

@media (max-width: 480px) {
	.logo {
		font-size: 0.65rem;
	}
}
