/*
* components/settings/homepageButton/homepageButton.modular.css
* modular css for homepageButton.jsx
* */
.homepageButton {
	font-size: 2.5rem;
	color: var(--theme-sub-text-color);
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: var(--theme-color-5);
	border-radius: 15px;
	padding: 0.2rem 1rem 0rem 1rem;
	transition: transform 0.3s;
}

.homepageButton:hover {
	background-color: var(--theme-color-6);
	transform: scale(1.1);
}

@media (max-width: 768px) {
	.homepageButton {
		padding: 0.4rem 1rem 0.4rem 1rem;
		font-size: 1.5rem;
	}
}
