.menuContainer {
	background-color: var(--theme-color-4);
	width: 20vw;
	border-radius: 10px;
	margin: 5px;
	border: 2px solid var(--theme-text-color);
}

.botList {
	flex-grow: 1;
	overflow: scroll;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
}

.chatBotAddBtn {
	font-size: 1.5rem;
	background-color: var(--theme-color-2);
	color: var(--theme-text-color);
	padding: 0.15rem 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 0.2rem;
	border: none;
}

.chatBotAddBtn:hover {
	background-color: var(--theme-color-5);
}

.chatBotListItem {
	font-size: 1.2rem;
	padding: 0.5rem;
	list-style-type: none;
	background-color: var(--theme-color-4);
	max-width: 80%;
	margin-top: 0.5rem;
	border-radius: 10px;
	color: var(--theme-text-color);

	cursor: pointer;
}

.chatBotListItem:hover {
	background-color: var(--theme-color-1);
}

.currentBot {
	background-color: var(--theme-color-5);
}

.chatBotInput {
	width: 80%;
	background-color: var(--theme-color-2);
	color: #242424;
	margin: 5px;
	padding: 0.15rem 0.5rem;
	min-height: 40px;
	border-radius: 4px;
	font-size: 1rem;
	outline: none;
	border: none;
	line-height: 1.15;
	box-shadow: 0px 10px 20px -18px;
}

.chatBotInput:focus {
	border-bottom: 2px solid var(--theme-color-6);
	border-radius: 4px 4px 2px 2px;
}

.chatBotInput:hover {
	outline: 1px solid lightgrey;
}
