.menuContainer {
	background-color: lightgrey;
	width: 20vw;
}

.botList {
	flex-grow: 1;
	overflow: scroll;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
}

.chatBotInput {
	width: 70%;
	padding: 0.2rem 0.5rem;
	font-size: 1.2rem;
}

.chatBotAddBtn {
	font-size: 1.2rem;
	background-color: lightgreen;
	padding: 0.2rem 0.5rem;
	border-radius: 10px;
	margin-left: 0.2rem;
}

/*.chatBotList {}*/

.chatBotListItem {
	font-size: 1.2rem;
	padding: 0.5rem;
	list-style-type: none;
	background-color: darkgray;
	max-width: 80%;
	margin-top: 0.5rem;
	border-radius: 10px;

	cursor: pointer;
}
