.menuContainer {
	background-color: var(--theme-color-5);
	width: 20vw;
	border-radius: 10px;
	margin: 5px;
	height: 60vh;
	border: 2px solid var(--theme-text-color);
}

.chatBotList {
	height: 80%;
}

.chatBotInput {
	width: 90%;
	background-color: var(--theme-color-2);
	color: var(--theme-text-color);
	margin: 5px;
	padding: 0.15rem 0.5rem;
	min-height: 40px;
	border-radius: 4px;
	font-size: 1rem;
	outline: none;
	border: none;
	line-height: 1.15;
	box-shadow: 0px 10px 20px -18px;
}

.chatBotInput:focus {
	border-bottom: 2px solid var(--theme-color-6);
	border-radius: 4px 4px 2px 2px;
}

.chatBotInput:hover {
	outline: 1px solid lightgrey;
}

.chatBotInput::placeholder {
	color: var(--theme-sub-text-color);
}

.chatBotListItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.2rem;
	padding: 0.5rem;
	list-style-type: none;
	background-color: var(--theme-color-5);
	max-width: 80%;
	margin-top: 0.5rem;
	border-radius: 10px;
	color: var(--theme-text-color);

	cursor: pointer;
}

.chatBotListItem:hover {
	background-color: var(--theme-color-1);
}

.currentBot {
	background-color: var(--theme-color-3);
}

.botProfilePicture {
	border-radius: 100%;
	width: 50px;
}

.addSymbol {
	width: 50px;
}

.addBot {
	border-radius: 10px 10px 0 0;
	border-bottom: 2px solid var(--theme-sub-text-color);
}

.disabled {
	cursor: not-allowed;
}

.listWrapper {
	height: 90%;
	overflow: scroll;
	scrollbar-width: none;
}

.chatBotName {
	display: flex;
	align-items: center;
}

.remove {
	color: var(--theme-sub-text-color);
	margin-left: auto;
	padding: 5px 10px;
}

.remove:hover {
	color: red;
	border-radius: 15px;
	background-color: var(--theme-color-4);
}
