.menuContainer {
	background-color: var(--theme-color-4);
	width: 20vw;
}

.botList {
	flex-grow: 1;
	overflow: scroll;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
}

.chatBotInput {
	width: 70%;
	background-color: var(--theme-color-2);
	padding: 0.2rem 0.5rem;
	font-size: 1.2rem;
}

.chatBotAddBtn {
	font-size: 1.2rem;
	background-color: var(--theme-color-5);
	padding: 0.2rem 0.5rem;
	border-radius: 10px;
	margin-left: 0.2rem;
}

.chatBotListItem {
	font-size: 1.2rem;
	padding: 0.5rem;
	list-style-type: none;
	background-color: var(--theme-color-4);
	max-width: 80%;
	margin-top: 0.5rem;
	border-radius: 10px;
	color: var(--theme-text-color);

	cursor: pointer;
}

.chatBotListItem:hover {
	background-color: var(--theme-color-1);
}

.currentBot {
	background-color: var(--theme-color-5);
}
