/*
../../components/home/home.module.css
 modular css for home.jsx
*/

/*home wrapper alignes the menu and the chat verticaly*/
.homeWrapper {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	width: 100%;
}
