body {
	overflow: hidden;
}

.registerBtn {
	color: var(--theme-text-color);
	font-size: 3rem;
	padding: 10px 50px;
	background-color: var(--theme-color-3);
	border-radius: 15px;
	margin-top: 15px;
}

.registerBtn:hover {
	background-color: var(--theme-color-4);
}

.registerBtn:active {
	background-color: var(--theme-color-1);
}

.container {
	color: var(--theme-text-color);
	background-color: var(--theme-color-5);
	margin: auto;
	border-radius: 15px;
	width: fit-content;
	min-width: 25vw;
	min-height: 40vh;
	height: fit-content;
	position: relative;
	border: 1px solid var(--theme-sub-text-color);
	box-shadow: 0 10px 10px var(--theme-color-6);
	top: 80px;
	padding: 1rem 1rem 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.registerInput {
	color: var(--theme-text-color);
	margin: 5px;
	padding: 10px;
	font-size: 2rem;
	background-color: var(--theme-color-2);
	border: 2px solid var(--theme-sub-text-color);
	border-radius: 5px;
}

.registerInput::placeholder {
	color: var(--theme-sub-text-color);
}

.span {
	margin-top: 5px;
}

.heading {
	font-size: 2rem;
	margin-top: 10px;
}

.link {
	color: var(--theme-color-7);
}

.linkAsBtn {
	color: var(--theme-color-7);
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
	font: inherit;
	padding: 0;
}

.loaderContainer {
	position: relative;
	top: 150px;
	text-align: center;
	margin: auto;
}

.loader {
	width: 5vw;
}
