h1 {
	font-family: monospace;
	text-align: center;
	font-size: 2rem;
}

h2 {
	text-align: center;
	color: white;
}

.settingsContainer {
	margin: auto;
	height: 100vh;
	width: 80vw;
}

.settingsTable {
	width: 100%;
}

.settingsTable,
.settingsTable td {
	border-collapse: collapse;
	border: 1px solid black;
}

.settingsWrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.currentUserPicture {
	width: 300px;
	height: 300px;
	border-radius: 500px;
	margin: 1rem 12rem 0 5rem;
}

.profileInfo {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 0.5rem;
}

.changeProfilePictureWindow {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30vw;
	height: 55vh;
	background-color: #808080e6;
	border: 3px solid lightgray;
	border-radius: 15px;
}

.profilePicturesWrapper {
	text-align: center;
}

.profilePictures {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 1rem;
	transition: transform 0.2s;
}

.profilePictures:hover {
	transform: scale(1.2);
}
