body {
	background: var(--theme-color-2);
}

h1 {
	font-family: monospace;
	text-align: center;
	font-size: 2rem;
}

h2 {
	text-align: center;
	color: white;
}

.settingsContainer {
	margin: auto;
	height: 100vh;
	width: 80vw;
}

.settingsTable {
	width: 100%;
}

.settingsTable,
.settingsTable td {
	border-collapse: collapse;
	border: 1px solid black;
}

.settingsWrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.currentUserPicture {
	width: 300px;
	height: 300px;
	border-radius: 500px;
	margin: 1rem 12rem 0 5rem;
}

.profileInfo {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 0.5rem;
}

.changeProfilePictureWindow {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30vw;
	height: 55vh;
	background-color: #808080e6;
	border: 3px solid lightgray;
	border-radius: 15px;
}

/*.changeProfilePictureButton {
}*/

.profilePicturesWrapper {
	text-align: center;
}

.profilePictures {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 1rem;
	transition: transform 0.2s;
}

.profilePictures:hover {
	transform: scale(1.2);
}

/* From Uiverse.io by arghyaBiswasDev */
/* switch
/* The switch - the box around the slider */
.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 2em;
}

/* Hide default HTML checkbox */
.switch .checkBox {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	border: 1px solid #adb5bd;
	transition: 0.4s;
	border-radius: 30px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.4em;
	width: 1.4em;
	border-radius: 20px;
	left: 0.27em;
	bottom: 0.25em;
	background-color: #adb5bd;
	transition: 0.4s;
}

.checkBox:checked+.slider {
	background-color: #007bff;
	border: 1px solid #007bff;
}

.checkBox:focus+.slider {
	box-shadow: 0 0 1px #007bff;
}

.checkBox:checked+.slider:before {
	transform: translateX(1.4em);
	background-color: #fff;
}
